
@function scaled($px) {
    @return calc(var(--screenHeight) * (#{$px}px / 2160));
}

@function basic-transition($props...) {
    $result: ();
    @for $i from 1 through length($props) {
        $prop: nth($props, $i);
        $result: append($result, $prop);
        $result: append($result, #{"var(--animationTime) var(--animationEffect)"});
        @if $i != length($props) {
            $result: append($result, #{","});
        }
    }
    @return $result;
}
