html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#InputViewer_Frame .ingameUiWrapper {
  position: relative;
}

#DevOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  pointer-events: none;
}
#DevOverlay > .error {
  background-color: crimson;
}

#ConfigPopup_Container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
#ConfigPopup_Container #Config_ScrollCont {
  flex: 1 1 auto;
}
#ConfigPopup_Container new-list-button {
  --optionContentWidth: calc(var(--screenHeight) * (350px / 2160));
}
#ConfigPopup_Container .sectionTitle {
  padding: calc(var(--screenHeight) * (16px / 2160)) calc(var(--screenHeight) * (16px / 2160)) calc(var(--screenHeight) * (8px / 2160));
  font-weight: normal;
}
#ConfigPopup_Container .sectionTitle:not(:first-child) {
  margin-top: calc(var(--screenHeight) * (16px / 2160));
}
#ConfigPopup_Container .info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--backgroundColorPanel);
}
#ConfigPopup_Container .info > .icon {
  flex: 0 0 calc(var(--screenHeight) * (96px / 2160));
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--backgroundColorPanel);
}
#ConfigPopup_Container .info > .icon icon-element {
  --width: calc(var(--screenHeight) * (96px / 2160));
  --height: calc(var(--screenHeight) * (96px / 2160));
}
#ConfigPopup_Container .info > .description {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  padding: calc(var(--screenHeight) * (12px / 2160));
  font-weight: normal;
}

#NumberDisp_Verbose_Container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  pointer-events: none;
}
#NumberDisp_Verbose_Container .numberDispGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#NumberDisp_Verbose_Container .numberDispGrid div {
  padding: 0 calc(var(--screenHeight) * (16px / 2160));
  font-size: calc(var(--fontSizeParagraph) * 0.75);
  background-color: var(--color-black-op20);
}
#NumberDisp_Verbose_Container .numberDispGrid div:nth-child(4n+1), #NumberDisp_Verbose_Container .numberDispGrid div:nth-child(4n+2) {
  background-color: var(--color-black-op30);
}

#NumberDisp_Simple_Container {
  opacity: 0.8;
}
#NumberDisp_Simple_Container .bg .name {
  fill: white;
}
#NumberDisp_Simple_Container .bg .primary {
  fill: #3E3E3E;
}
#NumberDisp_Simple_Container .bg .secondary {
  fill: #818181;
}
#NumberDisp_Simple_Container .bg .aileronTip {
  fill: #DA0000;
}
#NumberDisp_Simple_Container .bg .elevatorTip {
  fill: #00C200;
}
#NumberDisp_Simple_Container .bg .rudderTip {
  fill: #0000C2;
}
#NumberDisp_Simple_Container .bg .brakeTip {
  fill: #EEB000;
}
#NumberDisp_Simple_Container .bg .propellerPrimary {
  fill: #004DC7;
}
#NumberDisp_Simple_Container .bg .mixturePrimary {
  fill: #B1352A;
}
#NumberDisp_Simple_Container .label text {
  font-size: 7px;
  text-anchor: middle;
  dominant-baseline: central;
}
#NumberDisp_Simple_Container .label .name {
  font-weight: 800;
  fill: rgba(0, 0, 0, 0.7);
}
#NumberDisp_Simple_Container .label .numberDisp {
  fill: white;
}
#NumberDisp_Simple_Container .label .numberDisp .zero {
  fill: rgba(255, 255, 255, 0.5);
}
#NumberDisp_Simple_Container .throttleContainer > g {
  display: none;
}
#NumberDisp_Simple_Container[data-mode=SingleEngine] .throttle1Container {
  display: inline;
}
#NumberDisp_Simple_Container[data-mode=TwinEngine] .throttle1Container,
#NumberDisp_Simple_Container[data-mode=TwinEngine] .throttle2Container {
  display: inline;
}
#NumberDisp_Simple_Container[data-mode=ThreeEngine] .throttle1Container,
#NumberDisp_Simple_Container[data-mode=ThreeEngine] .throttle2Container,
#NumberDisp_Simple_Container[data-mode=ThreeEngine] .throttle3Container {
  display: inline;
}
#NumberDisp_Simple_Container[data-mode=FourEngine] .throttle1Container,
#NumberDisp_Simple_Container[data-mode=FourEngine] .throttle2Container,
#NumberDisp_Simple_Container[data-mode=FourEngine] .throttle3Container,
#NumberDisp_Simple_Container[data-mode=FourEngine] .throttle4Container {
  display: inline;
}
#NumberDisp_Simple_Container[data-mode=PropMix] .throttle1Container,
#NumberDisp_Simple_Container[data-mode=PropMix] .propeller1Container,
#NumberDisp_Simple_Container[data-mode=PropMix] .mixture1Container {
  display: inline;
}

#InputViewer #InputViewer_Container {
  overflow: hidden;
  --widgetWidth: 100px;
  --panelDim: calc(var(--widgetWidth) * (220 / 280));
  --throttlePanelWidth: calc(var(--panelDim) * (60 / 220));
  --rudderPanelHeight: calc(var(--panelDim) * (40 / 220));
  position: absolute;
  width: var(--containerWidth);
  height: var(--containerHeight);
  display: grid;
  grid-template-columns: var(--throttlePanelWidth) var(--panelDim);
  grid-template-rows: var(--panelDim) var(--rudderPanelHeight);
  grid-template-areas: "throttle stick" "config rudder";
  justify-content: space-evenly;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
#InputViewer #InputViewer_Container #OpenConfigPanel {
  grid-area: config;
}
#InputViewer #InputViewer_Container #StickPanel {
  grid-area: stick;
}
#InputViewer #InputViewer_Container #RudderPanel {
  grid-area: rudder;
}
#InputViewer #InputViewer_Container #ThrottlePanel {
  grid-area: throttle;
}

#OpenConfigPanel {
  display: flex;
  justify-content: center;
  align-items: center;
}
#OpenConfigPanel #OpenConfig {
  --width: calc(var(--screenHeight) * (90px / 2160));
  --height: calc(var(--screenHeight) * (60px / 2160));
}

toggle-button.togglePropMix icon-element {
  position: absolute;
  top: calc(var(--screenHeight) * (2px / 2160));
  width: calc(var(--screenHeight) * (36px / 2160));
  height: calc(var(--screenHeight) * (36px / 2160));
  transition: left var(--animationTime) var(--animationEffect) , opacity var(--animationTime) var(--animationEffect);
}
toggle-button.togglePropMix icon-element#PropellerIcon {
  left: var(--leftPos, calc(var(--screenHeight) * (42.2px / 2160)));
}
toggle-button.togglePropMix icon-element#MixtureIcon {
  left: var(--leftPos, calc(var(--screenHeight) * (56px / 2160)));
}
toggle-button.togglePropMix .ToggleButton .toggleButtonWrapper .toggleButton .state {
  left: var(--leftPos, calc(var(--screenHeight) * (32px / 2160)));
  transition: left var(--animationTime) var(--animationEffect) , background-color var(--animationTime) var(--animationEffect);
}
toggle-button.togglePropMix:not(.off) .ToggleButton .toggleButtonWrapper .toggleButton .state {
  background-color: #4F4F4F;
}
toggle-button.togglePropMix.off icon-element {
  opacity: 0;
}

#InputViewer_Container .grad1, #InputViewer_Container .grad2, #InputViewer_Container .grad3 {
  fill: none;
  stroke: var(--primaryColor);
}
#InputViewer_Container .grad1 {
  stroke-width: 3;
}
#InputViewer_Container .grad2 {
  stroke-width: 1;
}
#InputViewer_Container .grad3 {
  stroke-width: 1;
  opacity: 0.5;
}
#InputViewer_Container .inputPos {
  fill: none;
  stroke: white;
  stroke-width: 3;
}
#InputViewer_Container .trimPos {
  stroke: white;
  stroke-width: 1;
}
#InputViewer_Container #RudderPanel .wheelBrakeBar .fg {
  fill: orange;
}
#InputViewer_Container #RudderPanel .wheelBrakeBar .cap {
  stroke: var(--primaryColor);
  stroke-width: 1;
}
#InputViewer_Container #ThrottlePanel .throttleBar .fg {
  fill: white;
}
#InputViewer_Container #ThrottlePanel .throttleBar .cap {
  stroke: var(--primaryColor);
  stroke-width: 0.5;
}
#InputViewer_Container #ThrottlePanel .throttleBar.propeller .fg {
  fill: skyblue;
}
#InputViewer_Container #ThrottlePanel .throttleBar.mixture .fg {
  fill: salmon;
}
#InputViewer_Container #ThrottlePanel #ThrottleBars > *,
#InputViewer_Container #ThrottlePanel #ThrottleBordersV > *,
#InputViewer_Container #ThrottlePanel #ThrottleBordersH > * {
  display: none;
}
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBars,
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBordersV {
  transform: translate(-5px, 0);
}
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBar_1 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBordersV > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBordersV > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=SingleEngine] #ThrottleBordersH > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBars,
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBordersV {
  transform: translate(-10px, 0);
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBar_1 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBordersV > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBar_2 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBordersV > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBordersV > *:nth-child(3) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=TwinEngine] #ThrottleBordersH > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBars,
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersV {
  transform: translate(-15px, 0);
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBar_1 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersV > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBar_2 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersV > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBar_3 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersV > *:nth-child(3) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersV > *:nth-child(4) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=ThreeEngine] #ThrottleBordersH > *:nth-child(3) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBars,
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV {
  transform: translate(-20px, 0);
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBar_1 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBar_2 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBar_3 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV > *:nth-child(3) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBar_4 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV > *:nth-child(4) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersV > *:nth-child(5) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=FourEngine] #ThrottleBordersH > *:nth-child(4) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBars,
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersV {
  transform: translate(-15px, 0);
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBar_1,
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #PropellerBar_1,
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #MixtureBar_1 {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersV > *:nth-child(1) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersV > *:nth-child(2) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersV > *:nth-child(3) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersV > *:nth-child(4) {
  display: inline;
}
#InputViewer_Container #ThrottlePanel[data-mode=PropMix] #ThrottleBordersH > *:nth-child(3) {
  display: inline;
}
